body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", "Montserrat", "sans-serif", "serif";
}
h2 {
  font-family: "Libre Baskerville";
  font-size: 32px;
}
p {
  font-family: "Montserrat";
  font-size: 18px;
}

/* Animation */
@keyframes fromleft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fromright {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fromtop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes frombottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fromleft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* Logo en tete */

.logo {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 160px;
}
.logo-image img {
  height: 120px;
  margin: 20px;
  margin-left: 50px;
  animation: fromtop 0.7s ease-out;
}
.logo-titre {
  display: inline;
  margin-left: 10px;
  margin-top: 30px;
  animation: fromtop 0.7s ease-out;
}

.logo-titre h1 {
  font-size: 30px;
  margin-bottom: 2px;
  color: rgb(73, 55, 9);
  font-family: "Libre Baskerville";
}
.logo-titre p {
  font-size: 16px;
  margin: 0;
  font-style: italic;
  color: rgb(73, 55, 9);
  font-family: "Libre Baskerville";
}

/* Menu */

.menu label,
#hide-icon {
  display: none;
}

.menu {
  position: sticky;
  background-image: linear-gradient(
    to left,
    rgba(163, 86, 182, 0.9),
    rgba(255, 228, 193, 0.9)
  );
  display: flex;
  height: 35px;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  font-family: "Libre Baskerville";
  box-shadow: 0px 5px 8px rgba(56, 56, 56, 0.521);
  z-index: 1000;
}
.menu-nav ul {
  list-style: none;
  padding-left: 40px;
  animation: fromleft 1s ease-out;
}
.menu-nav li {
  display: inline-block;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
}
.menu-nav a {
  display: inline-block;
  text-decoration: none;
  color: rgb(73, 55, 9);
  padding: 0 12px;
}
.menu-nav a:hover {
  transform: translateY(1px);
  transform: scale(97%);
  color: rgb(112, 84, 12);
  transition-duration: 0.2s;
}
.menu-info {
  display: flex;
  color: rgb(73, 55, 9);
  justify-content: space-around;
  padding-right: 20px;
  animation: fromright 1s ease-out;
}

.menu-info p {
  margin: 22px 0;
  font-size: 14px;
}
.menu-info div {
  margin: 20px 15px 17.5px 30px;
}
.menu-info i {
  padding-right: 10px;
  font-size: 20px;
  color: rgb(73, 55, 9);
}
.menu-info i:hover {
  transform: translateY(1px);
  transform: scale(97%);
  color: rgb(112, 84, 12);
  transition-duration: 0.2s;
}

/* Smartphone screen */
@media screen and (max-width: 700px) {
  .menu label {
    display: inline-block;
    color: rgb(73, 55, 9);
    font-size: 1.2em;
    padding: 10px;
    animation: fromleft 0.7s ease-out;
  }
  .menu-nav {
    display: none;
    position: fixed;
    top: 35px;
    left: 0;
    right: 0;
    width: 100%;
    background-image: linear-gradient(
      to left,
      rgba(163, 86, 182, 0.9),
      rgba(255, 228, 193, 0.9)
    );
  }
  .menu-nav ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin: 0;
    animation: none;
  }
  .menu-nav li {
    display: flex;
    cursor: pointer;
    font-size: 14px;
  }
  .menu-nav a {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid rgb(73, 55, 9);
  }
  .menu-info {
    padding-right: 0px;
  }

  .menu input:checked ~ .menu-nav {
    display: block;
  }
  .logo {
    display: none;
  }
}

/* Header */

header {
  clear: both;
  display: block;
  position: relative;
  height: 500px;
  background: no-repeat center center / cover url(ressources/header.jpg);
  background-position: top;
  background-attachment: fixed;
}

header .entete {
  position: absolute;
  right: 0;
  left: 0;
  justify-content: center;
  font-family: "Libre Baskerville";
  animation: fromleft 1s ease-in-out;
}
.entete h1 {
  margin: 140px 50px 10px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 50px;
}
.entete p {
  margin: 0px 50px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  font-style: italic;
}
/* A propos */

.apropos {
  min-height: 50vh;
}
.apropos article {
  margin: 40px 50px 0 50px;
}
.apropos h2 {
  text-align: center;
  color: rgb(102, 39, 97);
  padding: 20px;
}
.apropos p {
  text-align: justify;
}

/* Mes Creations */

.mescreations {
  background-color: rgb(255, 234, 208);
  /* background-image: linear-gradient(to top,rgb(86, 17, 104),rgb(255, 228, 193) ); */
  clear: both;
}
.mescreations h2 {
  text-align: center;
  color: rgb(102, 39, 97);
  padding: 60px 0 20px 0;
}
.mescreations div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}
.mescreations img {
  width: 100%;
  max-height: 300px;
  flex-basis: 300px;
  margin: 20px;
  box-shadow: 1px 1px 10px rgba(77, 77, 77, 0.87);
  border-radius: 20px 0;
}

/* Mes tarifs */

.tarifs {
  padding-bottom: 40px;
}

.tarifs h2 {
  text-align: center;
  color: rgb(102, 39, 97);
  padding: 40px;
}

.tarifs table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.table-haut {
  background-color: rgb(102, 39, 97);
  color: rgba(255, 255, 255, 0.95);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tarifs th,
td,
tr {
  text-align: center;
  padding: 12px 20px;
}
.tarifs p {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 0;
}

/* Smartphone screen */
@media screen and (max-width: 700px) {
  .tarifs th,
  td,
  tr {
    padding: 10px 2px;
    font-size: 14px;
  }
  .tarifs p {
    font-size: 14px;
  }
}

/* Contact */

.contact {
  background-color: rgb(255, 234, 208);
}
.contact div {
  padding-bottom: 40px;
}
.contact h2 {
  text-align: center;
  color: rgb(102, 39, 97);
  padding: 60px 0 20px 0;
}
.contact-input {
  display: flex;
  flex-direction: column;
  margin: 0px 50px 0 50px;
}
.contact-input input:focus {
  box-shadow: 0px 0px 3px rgba(102, 39, 97, 0.4);
}
.contact-input textarea:focus {
  box-shadow: 0px 0px 3px rgba(102, 39, 97, 0.4);
}

.contact-input textarea {
  margin-bottom: 30px;
  font-size: 14px;
}
.contact input,
textarea {
  border-radius: 6px;
  padding: 9px;
  border: transparent;
  margin-top: 20px;
}

.contact button {
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 40px;
  width: 100px;
  align-content: center;
  border: none;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  background-color: rgb(102, 39, 97);
  box-shadow: 0 0 3px rgba(102, 39, 97, 0.4);
}
.contact button:hover {
  border: 2px solid white;
}
.contact button:active {
  border: 2px solid white;
  box-shadow: 0 0 4px rgba(102, 39, 97, 0.5);
  transform: scale(95%);
}

/* Footer */

footer {
  height: 70px;
}
footer p {
  font-size: 14px;
  padding: 30px 0 0 0;
  text-align: center;
  vertical-align: baseline;
}

/* (----------------DARK-MODE-----------------) */

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(42, 42, 42);
    color: #fefefe;
  }

  /* Logo en tete */

  .logo {
    background-color: rgb(42, 42, 42);
  }
  .logo-titre h1 {
    color: #fefefe;
  }
  .logo-titre p {
    color: #fefefe;
  }

  /* Menu */

  .menu {
    background-image: linear-gradient(
      to left,
      rgba(82, 27, 95, 0.9),
      rgba(128, 128, 128, 0.9)
    );
    box-shadow: 0px 5px 8px rgba(75, 75, 75, 0.521);
  }
  .menu-nav a {
    color: #fefefe;
  }
  .menu-nav a:hover {
    color: rgb(173, 164, 139);
  }
  .menu-info {
    color: #fefefe;
  }
  .menu-info i {
    color: #fefefe;
  }
  .menu-info i:hover {
    color: rgb(173, 164, 139);
  }

  @media screen and (max-width: 700px) {
    .menu label {
      color: #fefefe;
    }
    .menu-nav {
      background-image: linear-gradient(
        to left,
        rgba(82, 27, 95, 0.9),
        rgba(128, 128, 128, 0.9)
      );
    }
  }

  .apropos h2 {
    color: rgb(179, 73, 170);
  }

  /* Mes Creations */

  .mescreations {
    background-color: rgb(58, 58, 58);
  }
  .mescreations h2 {
    color: rgb(179, 73, 170);
  }
  .mescreations img {
    box-shadow: 1px 1px 10px rgba(26, 26, 26, 0.87);
    filter: grayscale(20%);
  }

  /* Mes tarifs */

  .tarifs h2 {
    color: rgb(179, 73, 170);
  }
  .table-haut {
    background-color: rgb(102, 39, 97);
    color: rgba(255, 255, 255, 0.95);
  }

  tr:nth-child(even) {
    background-color: #525252;
  }

  /* Contact */

  .contact {
    background-color: rgb(58, 58, 58);
  }
  .contact h2 {
    color: rgb(179, 73, 170);
  }
  .contact-input input,
  textarea {
    background-color: #f0f0f0;
  }
  .contact-input input:focus {
    box-shadow: 0px 0px 3px rgba(175, 70, 166, 0.883);
  }
  .contact-input textarea:focus {
    box-shadow: 0px 0px 3px rgba(175, 70, 166, 0.883);
  }
  .contact button {
    color: rgb(255, 255, 255);
    background-color: rgb(121, 47, 114);
    box-shadow: 0 0 3px rgba(170, 65, 161, 0.4);
  }
  .contact button:hover {
    border: 2px solid rgb(231, 231, 231);
  }
  .contact button:active {
    border: 2px solid rgb(228, 228, 228);
    box-shadow: 0 0 4px rgba(126, 49, 119, 0.5);
  }
}
